.media-father-day {
  position: relative;
  background: #000;
  .stage-pic {
    width: 100%;
  }
  .mask-pic {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1000vw;
    margin-top: -514vw;
    margin-left: -500vw;
    animation-name: maskScan;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    @keyframes maskScan {
      from {
        width: 1000vw;
        margin-top: -514vw;
        margin-left: -500vw;
      }
      to {
        width: 5800vw;
        margin-top: -2925vw;
        margin-left: -2900vw;
      }
    }
  }
  .fixed-mask-pic {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 5800vw;
    margin-top: -2925vw;
    margin-left: -2900vw;
  }
  .loading {
    position: fixed;
    z-index: 99;
    color: #fff;
    width: 100%;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #000;
  }
  .text {
    display: none;
  }
  .text0 {
    position: fixed;
    width: 100%;
    top: 120vw;
    color: #fff;
    text-align: center;
    animation-name: textAppear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
    @keyframes textAppear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .text1 {
    position: fixed;
    width: 100%;
    top: 120vw;
    color: #fff;
    text-align: center;
    animation-name: textAppear1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
     opacity: 0;
    @keyframes textAppear1 {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .text2 {
    position: fixed;
    width: 100%;
    top: 120vw;
    color: #fff;
    text-align: center;
    animation-name: textAppear2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
     opacity: 0;
    @keyframes textAppear2 {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .text3 {
    position: fixed;
    width: 100%;
    top: 120vw;
    color: #fff;
    text-align: center;
    animation-name: textAppear3;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
     opacity: 0;
    @keyframes textAppear3 {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .text4 {
    position: fixed;
    width: 100%;
    top: 120vw;
    color: #fff;
    text-align: center;
    animation-name: textAppear4;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
     opacity: 0;
    @keyframes textAppear4 {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .text5 {
    position: fixed;
    width: 100%;
    top: 120vw;
    color: #fff;
    text-align: center;
    animation-name: textAppear5;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
     opacity: 0;
    @keyframes textAppear5 {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .text6 {
    position: fixed;
    width: 100%;
    top: 120vw;
    color: #fff;
    text-align: center;
    animation-name: textAppear6;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
     opacity: 0;
    @keyframes textAppear6 {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .grey {
    color: #999;
    font-size: 12px;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
  }
}