.media-father-day {
  position: relative;
  background: #000;
  .stage-pic {
    width: 100%;
    // mask: url('~@images/mediaFatherDay/mask.png');
    // mask-repeat: no-repeat;
    // animation-name: maskMove;
    // animation-delay: 0s;
    // animation-fill-mode: forwards;
    // animation-iteration-count: infinite;
    // animation-duration: 2s;
    // @keyframes maskMove {
    //   from {
    //     mask-size: 10%;
    //     mask-position: 50% 30%;
    //     background: #000;
    //   }
    //   to {
    //     mask-size: 90%;
    //     mask-position: 50% 50%;
    //     background: #000;
    //   }
    // }
  }
  .mask-pic {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1000vw;
    margin-top: -514vw;
    margin-left: -500vw;
    animation-name: maskScan;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    @keyframes maskScan {
      from {
        width: 1000vw;
        margin-top: -514vw;
        margin-left: -500vw;
      }
      to {
        width: 5800vw;
        margin-top: -2900vw;
        margin-left: -2900vw;
      }
    }
  }
}