.homepage-wrapper {
  background: #666;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-image: url('~@images/home.png');
  background-size: 100%;
  .homepage-view {
    width: 100%;
    background: rgba();
    height: auto;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    .article-wrapper {
      box-sizing: border-box;
      width: 90%;
      margin: 20px 5%;
      padding: 10px;
      color: #333;
      border-top: 1px solid #aaa;
      &:first-child {
        border-top: none;
      }
      .article-title {
        color: #fff;
        font-size: 18px;
        line-height: 1.5;
      }
      .article-content {
        color: #ccc;
        font-size: 14px;
        line-height: 1.7;
      }
      .article-pics {

      }
    }
  }
}